<div id="<%= dom_id participation %>">
  <p>
    <strong>Activity:</strong>
    <%= participation.activity_id %>
  </p>

  <p>
    <strong>Senior:</strong>
    <%= participation.senior_id %>
  </p>

</div>
