<div id="<%= dom_id participation %>">
  <p>
    <strong>Atelier:</strong>
    <%= participation.activity_id %>
  </p>

  <p>
    <strong>Sénior:</strong>
    <%= participation.senior_id %>
  </p>

</div>
