<h1>Editing structure</h1>

<%= render "form", structure: @structure %>

<br>

<div>
  <%= link_to "Show this structure", @structure %> |
  <%= link_to "Back to structures", structures_path %>
</div>
