<h1>Modifier l'appareil/h1>

<%= render "form", device: @device %>

<br>

<div>
  <%= link_to "Voir les appareils", @device, class: "color-blue flex p-4 rounded-lg justify-between items-center text-base text-white" %>
  <%= link_to "Retour vers crée un atelier",new_activity_path, class: "color-blue flex p-4 rounded-lg justify-between items-center text-base text-white mb-2" %>
</div>
