<h1>Modifier le jeu</h1>

<%= render "form", game: @game %>

<br>

<div>
  <%= link_to "Voir le jeu", @game, class: "color-blue flex p-4 rounded-lg justify-between items-center text-base text-white mb-2" %>
 <%= link_to "Retour vers crée un atelier",new_activity_path, class: "color-blue flex p-4 rounded-lg justify-between items-center text-base text-white mb-2" %>
</div>
