@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }

  .color-blue{
    background-color: #01385E;
  }

  .color-blue:hover{
    background-color: #001C2F;
  }

  .text-black{
    color: black;
  }
}


/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
