<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <% if user.partner.present? %>
    <p>
      <strong>Partenaire:</strong>
      <%= link_to user.partner.name, [:admin, user.partner] %>
    </p>
  <% end %>

</div>

