<div class="flex flex-col w-68  ml-auto mr-auto gap-5  z-10 relative  ">


  <%= link_to "/activities" do %>
      <%= content_tag(:svg, viewBox: "0 0 24 24", fill: "none", xmlns: "http://www.w3.org/2000/svg", width: "24", height: "24") do %>
        <%= content_tag(:path, "", d: "M12 3L13.5862 4.58625L7.30875 10.875H21V13.125H7.30875L13.5862 19.4137L12 21L3 12L12 3Z", fill: "#191919") %>
      <% end %>
  <% end %>
  <h1 class="text-3xl font-roboto font-bold">Ajouter un atelier</h1>

<%= render "form", activity: @activity %>
