 <nav role="navigation">
    <ul class="flex justify-between">
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Ajouter", add_page_path %></li>
        <li><%= link_to "Profil", "users/edit" %></li>
    </ul>
 </nav>
